.ballot {
  padding: 20px;
  background-color: #eff7e8;
  border: 1px solid #aaaaaa;
  box-shadow: 2px 2px 1px #dddddd;
}

.division {
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 4px;
  font-size: 1.4em;
  font-weight: bold;
}

.clearButton {
}

.how {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  line-height: 1.1em;
  margin-top: 5px;
  word-spacing: -1px;
}

.candidateDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.candidateDetails {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  justify-content: flex-start;
}

.candidateName {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1em;
  margin: 0;
}

.candidateParty {
  font-size: 0.8em;
  /*text-transform: uppercase;*/
  margin: 0;
  line-height: 1.1em;
}
