.ballotContainer {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-content: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*justify-items: center;*/
  /*position: absolute;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*left: 0;*/
  /*right: 0;*/
  /*left: 0;*/
  border: 1px solid blue;
  /*width: 100vw;*/
  /*aspect-ratio: 1 / 1;*/
  /*height: 100%;*/
}

.stretcher {
  /*height: 2000px;*/
  /*width: 2000px;*/
}

.ballot {
  /*display: flex;*/
  /*flex-direction: column;*/
  background-color: #eff7e8;
  /*max-width: 20em;*/
  padding: 1em;
  /*margin-left: 2vw;*/
  /*margin-right: 2vw;*/
  /*width: 100vh;*/
  /*max-width: 420px;*/
  max-width: min(96vw, 420px);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  /*aspect-ratio: 16 / 9;*/
  /*height: auto;*/
  /*width: 1000px;*/
}

.candidateName {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

.candidateParty {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}

.state {
  font-size: 1.4em;
  margin-top: 30px;
}

.division {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 4px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 4px;
}

.how {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  line-height: 1.1em;
  margin-top: 5px;
  word-spacing: -1px;
}

.order {
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border: 2px solid black;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.candidateDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.candidateDetails {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start;
}
