.home {
  padding: 56px 20px 20px;
  width: min(100vw, 600px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: end;
}

.info {
  background-color: #f0f4ff;
  border: 1px solid #bfcffa;
  border-radius: 4px;
  padding: 10px;
}
