.home {
  padding: 56px 20px 20px;
  width: min(100vw, 600px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.info {
  background-color: #e7f1ff;
  border-left: 4px solid #0065ff;
  padding: 10px;
}
