.electorate {
  padding: 56px 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*align-self: center;*/
  /*position: absolute;*/
  width: 100%;
  transition: 100ms;
  /*position: sticky;*/

  /*margin: 0 auto;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*margin-left: 1000px;*/
  /* max-width: 50%; */
  /* margin: auto; */
}

.stretcher {
  height: 1000px;
  width: 4000px;
}
