.electorate {
  padding: 56px 20px;
  width: min(100vw, 620px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.electorateLabel {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.header {
  margin-top: 30px;
}

.stretcher {
  width: 2000px;
  height: 1px;
  flex-shrink: 0;
}
