.electorate {
  padding: 56px 20px;
  width: min(100vw, 620px);
  min-height: 100%;
}

.electorateLabel {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.header {
  margin-top: 30px;
  margin-bottom: 15px;
}

.authorisedBy {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
  font-size: 0.7em;
  text-align: center;
}

.stretcher {
  width: 2000px;
  height: 1px;
  flex-shrink: 0;
}
