.ballot {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #aaaaaa;
  box-shadow: 2px 2px 1px #dddddd;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 4px solid black;
}

.state {
  flex-grow: 1;
  margin-top: 0;
  font-weight: bold;
}

.clearButton {
  flex-shrink: 1;
}

.aboveTheLine {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0;
}

.how {
  margin-top: 0;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.groupDiv {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-left: 10px;
  border-left: 1px solid #aaaaaa;
}

.column {
  margin-bottom: 5px;
}

.groupName {
  flex-shrink: 1;
  flex-wrap: wrap;
  word-break: break-word;
  font-weight: 600;
  font-size: 0.7em;
  /*text-transform: uppercase;*/
  margin-top: 5px;
  line-height: 1.1em;
}
