.ballot {
  max-width: 420px;
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #aaaaaa;
  box-shadow: 2px 2px 1px #dddddd;
}

.groups {
  display: flex;
  flex-wrap: wrap;
}

.groupDiv {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.groupName {
  flex-shrink: 1;
  flex-wrap: wrap;
  word-break: break-word;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.1em;
}
