.help {
  min-height: 62px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  box-shadow: 2px 2px 1px #dddddd;
}

.help p {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.helpNotStarted {
  background-color: #e7f1ff;
  border-left: 4px solid #0065ff;
}

.helpIncomplete {
  position: sticky;
  top: 56px;
  background-color: #fff7e0;
  border-left: 4px solid #ffc400;
}

.helpComplete {
  background-color: #e5fdf2;
  border-left: 4px solid #00875a;
}

.rankingBox {
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 26px;
  cursor: pointer;
}
